* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* imp. generali */

body {
    max-width: 1920px;
    min-width: 118rem;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

h1 {
    font-size: 4.75rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}

/* inpostazioni nav e header */

nav ul > li {
    padding: 0 1.2rem;
}

header {
    background-color: #b4d0e7;
}

header > section {
    padding-top: 5rem;
    margin: 0 12% 0 19%;
}

header section > button:first-of-type {
    margin: 0;
    padding: .5rem 1rem;
}

header div > section:first-of-type {
    flex-direction: column;
    justify-content: stretch;
}

header section.flex-container > h6 {
    margin-bottom: 3.5rem;
}

header section.flex-container > p {
    width: 23rem;
    margin-bottom: 1.5rem;
}

header section.flex-container > div {
    margin-bottom: 2rem;
}

header button.buttom {
    margin-bottom: 0;
}

/* main */

main > div:nth-of-type(3) {
    width: 100%;
}

main > div:nth-of-type(3) > div {
    width: 33.3%;
    flex-wrap: wrap;
}

main > div:nth-of-type(3) > div > div >img {
    filter: invert(100%);
    width: 16rem;
}

/* footer */

footer {
    background-color: black;
    color: white;
    padding: 6.3rem 0 3rem 0;
}

footer li > h6 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.7rem;
}

footer li {
    margin-bottom: 1rem;
    font-weight: 500;
}

footer > div {
    margin: 0 19%;
}

footer hr {
    width: 7.5rem;
    border: 1px solid #a3a3a3;
    border-radius: 1px;
    margin: 0 23% 0 19%;
}

footer > div:first-child {
    justify-content: space-between;
    padding: 0rem 0 6.2rem 0;
}

footer > div:last-child {
    color: #9b9b9b;
    margin-top: 3.5rem;
}

/* impostazioni condivise */

nav > section,
nav section > ul {
    display: flex;
    align-items: center;
}

#jumbo,
header div > section:first-of-type {
    position: relative;
    top: 4.5rem;
}

/* misure immagini */

img {
    width: 5rem;
}

#logo {
    width: 8rem;
    height: 1.65rem;
}

#jumbo {
    width: 53rem;
    height: 28rem;
}

/* classi */

.flex-container {
    display: flex;
}

.nav-flex-container {
    background-color: #fff;
    border-bottom: 1px solid #e9ecf0;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
}

.buttom {
    background-color: #0061ff;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: .9rem;
    border: 0;
    padding: .8rem;
    margin-bottom: 2rem;
}

.designit {
    border: 1rem solid #d1e9cd;
    background-color: #a2d39b;
}

.i-fontsize {
    font-size: 3rem;
}