* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* imp. generali */

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 3rem;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}

/* misure immagini */

img {
    width: 10rem;
}

#logo {
    width: 7.9rem;
    height: 2rem;
}

#jumbo {
    height: 27rem;
}

/* classi */

.flex-container {
    background-color: pink;
    border: 1px solid darksalmon;
    display: flex;
}

.buttom {
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 0.3rem .7rem;
}

.margin-right {
    margin-right: 8.7rem;
}