* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}

#jumbo {
    height: 27rem;
}

/* classi */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-flex {
    display: flex;
    top: 2rem;
    position: absolute;
    left: 1rem;
    justify-content: flex-start;
    right: 1rem;
}

.position-absolute {
    position: absolute;
    top: 7rem;
    right: 0;
    left: 1rem;
}

.flex-ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.buttom {
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 0.3rem .7rem;
}

.margin-right {
    margin-right: 8.7rem;
}